html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Work sans', sans-serif;
    color: #b5b5b5;
    font-weight: 400;
    box-sizing: border-box;
}
body{
    background-color: #222;
    overflow: hidden;

}
header{
    background-color: #222;
    color: #b5b5b5;
}
.logo{
    margin: .5em 0;
    padding: 25px 10px;
    border: 1px solid white;
}
.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
.mobileNavToggle{
    display: none;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 1em;
}

a{
    text-decoration: none;
    text-transform: uppercase;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
@media screen and (max-width: 35em){
    .container{
        justify-content: center;
    }
    nav ul{
        gap: 2em;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform .3s ease-out;
    }
    nav ul[data-visible="true"]{
        transform: translateX(0%);
        background: hsl(0 0% 0% / .75);

        background: hsl(0 0% 100% / .1);
        backdrop-filter: blur(1rem);
    }
    nav ul a {
        text-transform: capitalize;
        color: #ffffff;
    }
    .mobileNavToggle{
        display: block;
        background: url('../pictures/hamburger_icon.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 1rem;
        border:0;
        aspect-ratio: 1;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
        background-color: #b5b5b5;
    }
}

.content{
    background-color: white;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.sc-header{
    display: flex;
    gap: 2em;
}
.sc-container{
    margin: 0 auto;
    height: 100vh;
    min-height: 36em;
    scroll-snap-align: center;
}
.sc-container{
    background-color: hsl(263 55% 52%);
    padding: 3em;
    color: white;
}
.sc-container:not(:first-child){
    filter: hue-rotate(15deg);
}
.sc-container:nth-child(2){
    background-color: hsl(15deg 100% 20%);
}
.sc-container:nth-child(3){
    filter: hue-rotate(230deg);
}
.sc-container:nth-child(4){
    filter: hue-rotate(330deg);
}
.position{
    color: #9e9e9e;
}