*{
    padding: 0;
    margin:0;
    font-family: sans-serif;
}
body{
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    margin: auto;
    perspective: 1000px;
    min-height: 100vh;
    place-content: center;
}
a{
    width: 150px;
    text-align: center;
    font-weight: 600;
    padding: 15px;
    border:3px solid  purple;
    color: purple;
    border-radius: 10px;
    text-shadow: 0 0 0.125em hsl(0 0% 100% /0.3), 0 0 0.45em purple;
    transition: 1s;
    cursor: pointer;
    box-shadow: inset 0 0 1em 3px purple, 0 0 0.5em 0 purple;
    position: relative;
    transform-style: preserve-3d;
    text-transform: uppercase;
    
}

a:hover{
    border-color: rgb(189, 1, 189);
    color: rgb(189, 1, 189);
    text-shadow: 0 0 0.125em hsl(0 0% 100% /0.3), 0 0 0.45em rgb(189, 1, 189);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: inset 0 0 1em 3px rgb(189, 1, 189), 0 0 0.5em 0 rgb(189, 1, 189);
}
a::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: purple;
    position: absolute;
    left: 0;
    top: 120%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    transition: .5s;
}
a:hover::after{
    background-color: rgb(255, 82, 255);
}
