:root{

    --primary-scrissors-gradient: radial-gradient(hsl(39, 89%, 49%) , hsl(40, 84%, 53%));
    --primary-paper-gradient: radial-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%));
    --primary-rock-gradient: radial-gradient(hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    --primary-lizard-gradient: radial-gradient(hsl(261, 73%, 60%) , hsl(261, 72%, 63%));
    --primary-cyan: radial-gradient(circle at 30%, hsl(189, 59%, 53%) 30%, hsl(189, 58%, 57%));


    --netural-dark: hsl(229,25%,31%);
    --netural-score-text: hsl(229,64%,46%);
    --netural-header-outline: hsl(217, 16%, 45%);

    --background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));


    --font-family: 'Barlow Semi Condensed', sans-serif;
    --font-weight-600: 600;
    --font-weight-700: 700;
}


*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: white;
    font-weight: var(--font-weight-600);
    box-sizing: border-box;
    font-size: 16px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background: var(--background);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 25em;
    display: grid;
    gap: 2em;
    overflow: visible;
}
.game-version-and-score{
    border: 2px solid var(--netural-header-outline);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}
.game-version-and-score img{
    width: 100%;
}
.score{
    background-color: white;
    padding: 16px;
    border-radius: 10px;
}
.score p:not(.score-counter){
    color: var(--netural-score-text);
    text-align: center;
    text-transform: uppercase;
}
.score-counter{
    font-weight: var(--font-weight-700);
    color: var(--netural-header-outline);
    font-size: 36px;
    text-align: center;
}
.game-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.step-one{
    background: url(./images/bg-triangle.svg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.play-option{
    width: 20%;
    min-width: 130px;
    border-radius: 100%;
    justify-content: center;
    background-color: white;
    display: flex;
    padding: 24px;
    align-items: center;
    transition: scale .2s ease-in-out;
}
.step-one .play-option{
    cursor: pointer;
}
.step-one .play-option:hover{
    scale: 1.2;
}
.scissors{
    border: 15px solid hsl(39, 89%, 49%);
    box-shadow: 0 5px hsl(40, 48%, 35%), inset 0 5px #00000026;
    grid-column: 3;
}
.rock{
    border: 15px solid hsl(349, 71%, 52%);
    box-shadow: 0 5px hsl(349, 48%, 35%), inset 0 5px #00000026;
    grid-row: 2;
    grid-column: 2;
}
.paper{
    border: 15px solid hsl(230, 89%, 62%);
    box-shadow: 0 5px hsl(230 48% 35% / 1), inset 0 5px #00000026;
}
.container-rules{
    display: none;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    padding: 26px;
    border-radius: 10px;
}
.button-rules{
    padding: 16px 36px;
    background: transparent;
    color: var(--netural-header-outline);
    font-weight: var(--font-weight-600);
    border-radius: 10px;
    border: 1px solid var(--netural-header-outline);
    cursor: pointer;
}
.button-rules:hover{
    border: 1px solid white;
    color: white;
}
.text-and-close-button{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}
.text-and-close-button > p{
    color: black;
    font-size: 2rem;
}
.close-rule-sheet{
    filter: brightness(1);
}
.close-rule-sheet:hover{
    filter: brightness(0.1);
}
.rules{
    justify-self: flex-end;
}
.overlay{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}
.overlay-visible, .visible-rules{
    display: block;
}

.close-rule-sheet{
    cursor: pointer;
}

.step-two:not(.step-two-visible){
    /* display: none; */
}
.step-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-again-btn{
    padding: 8px 24px;
    width: 180px;
    color: var(--netural-dark);
    font-weight: var(--font-weight-600);
    border-radius: 10px;
}

@media (max-width:445px){
    .content{
        width: 100%;
    }
    .step-one{
        width: 100%;
    }
    .rules{
        justify-self: center;
    }
    .game-version-and-score img{
        width: 70%;
    }
}
